.login-container {
  width: 335px;
  box-shadow: 10px 10px 5px #c5c5c5;
  margin-left: auto;
  margin-top: 50px;
  height: 700px;
}

.login-title {
  background-color: #5A7D7C;
  align-items: center;
  height: 70px;
  position: absolute;
  width: 300px;
  right: 100px;
}

.title {
  text-align: center;
}

.title h1 {
  color: #fff;
  text-decoration: underline;
  margin-top: 5px;
}

@media (max-width: 576px) {
  .login-container {
    width: 100%;
  }

  .login-title {
    align-items: center;
    right: 0;
    width: 100%;
    top: 0;
  }
}