.container {
  background-color: #5A7D7C; /* For browsers that do not support gradients */
  background: linear-gradient(148.37deg, #5A7D7C 39.15%, rgba(255, 255, 255, 0) 109.52%);
  width: 100%;
  height: 100vh;
}

.login-container {
  margin-left: auto !important;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-card-body {
  width: 100%;
}

.login-container input {
  border-radius: 5px;
}

.form {
  padding: 10px 0;
}

.form-title {
  font-size: 30px;
  font-weight: 700;
}

.button {
  height: 50px !important;
}

@media (max-width: 768px) {
  .login-container {
    width: 80%;
  }

} 

@media (max-width: 576px) {
  .login-container {
    width: 100%;
  }

} 