section.ant-layout {
  background: transparent !important;
}

.dashboard-layout {
  height: 100%;

  .dashboard-content {
    background: transparent !important;
    padding: 20px 40px;
    margin: 20px 40px;
    background-color: transparent !important;
  }

  
}