.first-step {
  &__title {
    margin-bottom: 1.5rem !important;
  }

  .text {
    &--hint {
      color: #9CA3AF;
      font-size: 1rem;
      margin-left: 0.5rem;
      font-weight: 500;
    }
  }

  .radio {
    &--primary {
      width: 100%;
    }
  }
}